body {
  padding-top:         1rem;
  padding-left:        20%;
  padding-right:       20%;
  text-align:          left;
}
h1, h2, h3, h4, h5, h6, header>ul {
  text-align:          center;
}

header {
  position:            fixed;
  top:                 -1em;
  left:                0rem;
  width:               100%;
  height:              3rem;
  padding-top:         0rem;
  box-sizing:          border-box;
  transition:          300ms;
}
header:hover {
  height:              4rem;
}

header>ul {
  display:             flex;
}

header>ul>li {
  list-style: none;
}

header>ul>li>ul {
  padding-left:        0;
}

header>ul>li>ul>li {
  list-style:          none;
  margin-top:          0px;
  margin-bottom:       1rem;
  display:             none;
}

header>ul>li:hover>ul>li {
  display:             block;
}

header>ul>li>ul>li>a, header:hover>ul>li>a {
  line-height:         3rem;
  display:             block;
  text-decoration:     none;
  margin-right:        0px;
  margin-left:         0px;
  transition:          300ms;
}
header>ul>li>a {
  line-height: 2rem;
  display:             block;
  text-decoration:     none;
  margin-right:        0px;
  margin-left:         0px;
  transition:          300ms;
}

button.lefter {
  border-radius:       0.75rem 0rem 0rem 0.75rem / 50% 0% 0% 50%;
  border-style:        solid;
}
button.middler {
  border-radius:       0;
  border-style:        solid;
}
button.righter {
  border-radius:       0rem 0.75rem 0.75rem 0rem / 0% 50% 50% 0%;
  border-style:        solid;
}

button.lefter, button.middler, button.righter {
  background-color:    blue;
  border-color:        cyan;
  color:               yellow;
  transition:          100ms;
}
button.lefter:hover, button.middler:hover, button.righter:hover {
  background-color:    cyan;
  border-color:        blue;
}
button.lefter:active, button.middler:active, button.righter:active {
  background-color:    orange;
  border-color:        orangered;
  color:               purple;
}

@media (prefers-color-scheme: light) {
  body {
    background-color:  yellow;
    color:             lime;
  }
  
  header {
    background-color:  orange;
  }

  header>ul>li>ul {
    background-color:  darkorange;
  }
  
  header a {
    color:             white;
  }
  header a:hover {
    color:             lime;
    background-color:  white;
  }

  .warning {
    color:             red;
    background-color:  white;
  }
  .warning::before {
    content: url(./reference_mark-1.svg);
  }
  .warning::selection {
    color:             cyan;
    background-color:  black;
  }

  iframe {
    max-width: 100%;
    border-style: solid;
  }
  
}

/*
orange -> darkgoldenrod
yellow -> olive
lime   -> palegreen
white  -> dimgray
*/

@media (prefers-color-scheme: dark) {
  body {
    background-color:  black;
    color:             darkgreen;
  }
  
  body:disabled {
    background-color:  dimgray;
    color:             black;
  }
  
  header {
    background-color:  chocolate;

  }

  header>ul>li>ul {
    background-color:  darkorange;
  }
  
  header a {
    color:             black;
  }
  header a:hover {
    color:             palegreen;
    background-color:  navy;
  }

  .warning {
    color:             red;
    background-color:  dimgray;
  }
  .warning::before {
    content: url(./reference_mark-1.svg);
  }
  .warning::selection{
    color:             purple;
    background-color:  white;
  }
  iframe {
    max-width: 100%;
    border: none;
  }

}