body {
  padding:        2rem;
  text-align:     center;
}

nav {
  box-sizing: border-box;
  height:         2.5rem;
  left:           0px;
  padding-top:    0px;
  position:       fixed;
  top:            -1rem;
  width:          100%;
}
nav:hover {
  height:         3.75rem;
}
nav > ul {
  display:        flex;
}
nav > ul > li {
  list-style:     none;
}
nav > ul > li > ul {
  padding-left:   0;
}
nav > ul > li > ul > li {
  display:        none;
  list-style:     none;
  margin-top:     0px;
  margin-bottom:  5px;
}
nav > ul > li:hover > ul > li {
  display:        block;
}
nav a {
  display:        block;
  margin-left:    0px;
  margin-right:   0px;
  padding-bottom: 0rem;
  padding-top:    0rem;
  text-decoration: none;
}
nav:hover a {
  padding-bottom: 0.25rem;
  padding-top:    0.25rem;
  font-size:      1.5rem;
}
.warning::before {
  content:        url(./reference_mark-1.svg);
}
iframe {
  max-width:      100%;
  border-style:   solid;
}


@media (prefers-color-scheme: light) {
  body {
    background-color: yellow;
    color: lime;
  }
  
  nav {
    background-color: orange;
  }

  nav > ul > li > ul {
    background-color: darkorange;
  }
  
  nav a {
    color:            white;
  }
  nav a:hover {
    background-color: white;
    color:            lime;
  }

  .warning {
    background-color: white;
    color:            red;
  }
  .warning::selection {
    background-color: black;
    color:            cyan;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: darkgreen;
  }
  
  nav {
    background-color: chocolate;
  }
  
  nav > ul > li > ul {
    background-color: darkorange;
  }
    
  nav a {
    color:            black;
  }
  nav a:hover {
    color:            palegreen;
    background-color: navy;
  }
  
  .warning {
    color:            red;
    background-color: white;
  }
  .warning::selection{
    color:            purple;
    background-color: dimgray;
  }
}
