@media (prefers-color-scheme: light) {
    body {
        text-align: left;
        background-color: aliceblue;
        color: black;
    }

    nav, .yes-script-text {
        display: none;
    }

    .varkaching-garn:hover {
        font-size:small;
        background-color: yellow;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        text-align: left;
        background-color: black;
        color: aliceblue;
    }

    nav, .yes-script-text {
        display: none;
    }
}