/* It's hamburger menu */

@import url("header-common.css");

:root {
  --is-hamburger: 1;
}

#yes-script-text {
  margin-top: 0rem;
  padding-top: 2rem;
  transform: translateY(min(-2.5vh, -2.5vw));
}

header nav>ul {
  height: 100%;
  left: 100%;
  position: flex;
  top: min(-2vh, -2vw);
  transition:
    left var(--header-transition);
  width: 100%;
  z-index: 222280;
}

#\^hamburger-io:checked~#\^hamburger~ul {
  left: 0;
}

#\^hamburger {
  align-items: center;
  background-color: var(--header-bg);
  border-color: var(--header-border-color);
  border-style: var(--header-border-style);
  border-width: var(--header-border-width);
  /*/box-shadow: 0 0rem 1.5rem 0rem rgba(0, 0, 0, .75);/*/
  display: flex;
  height: max(8vh, 8vw, 50px);
  justify-content: center;
  position: fixed;
  right: max(2vh, 2vw);
  top: max(2vh, 2vw);
  width: max(8vh, 8vw, 50px);
  z-index: 222290;
}

#\^hamburger span,
#\^hamburger span::before,
#\^hamburger span::after {
  background-color: var(--header-color);
  border-radius: max(.5vh, .5vw);
  content: "";
  display: block;
  height: max(.5vh, .5vw);
  position: absolute;
  width: max(3vh, 3vw);
}

#\^hamburger span::before {
  bottom: max(1.5vh, 1.5vw);
}

#\^hamburger span::after {
  top: max(1.5vh, 1.5vw);
}

#\^hamburger-io~#\^hamburger span,
#\^hamburger-io~#\^hamburger span::before,
#\^hamburger-io~#\^hamburger span::after {
  transition:
    bottom calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    top calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    left calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    width calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    transform calc(var(--header-transition) / 2);
}

#\^hamburger-io:checked~#\^hamburger span,
#\^hamburger-io:checked~#\^hamburger span::before,
#\^hamburger-io:checked~#\^hamburger span::after {
  transition:
    bottom calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    top calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    left calc(var(--header-transition) / 2) calc(var(--header-transition) / 2),
    width calc(var(--header-transition) / 2),
    transform calc(var(--header-transition) / 2) var(--header-transition);
}

#\^hamburger-io:checked~#\^hamburger span {
  width: 0;
}

#\^hamburger-io:checked~#\^hamburger span::before {
  bottom: 0;
  transform:
    translateX(min(-1.5vh, -1.5vh)) rotateZ(90deg) rotateZ(135deg);
}

#\^hamburger-io:checked~#\^hamburger span::after {
  top: 0;
  transform:
    translateX(min(-1.5vh, -1.5vh)) rotateZ(-90deg) rotateZ(-135deg);
}

@media (prefers-color-scheme: light) {
  #\^humberger {
    border-radius: 50%;
    transition: border-radius calc(var(--header-transition) / 2);
  }
  #\^hamburger-io:checked~#\^hamburger {
    border-radius: 0;
  }
}
